@charset "UTF-8";
/* CSS Document */

@viewport {
width: device-width;
}

@viewport {
width: device-width;
min-zoom: 1;
max-zoom: 2;
}

body {
  font-size: small;
  font-family: Verdana, sans-serif;
}

.header{ 
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url("Gruppe12bild.jpg");
    background-position:center;
    background-size:cover;
    position:relative;
}


#navibereich li {
  display: inline;            /* Listenelemente nebeneinander */
  list-style-type: none;      /* Aufzählungszeichen entfernen */
}


#navibereich {
  background-color: #89CFF0;        /* Hintergrundfarbe für die Navigation */ 
  padding: 4px 4;                   /* Innenabstand: oben/unten 4px, li/re 0 */
  border-top: 3px solid #27377c;    /* Rahmenlinie oben */
  border-bottom: 3px solid #27377c; /* Rahmenlinie unten */
  margin: 0;                        /* Keinen Außenabstand */ 
}

#navibereich a {
  color: black;                  /* Schriftfarbe schwarz */ 
  text-decoration: none;         /* Unterstreichung entfernen */ 
  padding: 100px 40px;              /* oben/unten 4px, re/li 8px */
}

#navibereich a:hover {
	cursor: pointer;
  background-color: #34619c;
}
