@charset "UTF-8";
/* CSS Document */

@viewport {
width: device-width;
}

@viewport {
width: device-width;
min-zoom: 1;
max-zoom: 2;
}

.body {
  font-size: small;
  font-family: Verdana, sans-serif;
	min-height: 100vh;
    width: 10%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url("bild1.jpeg");
    background-position:center;
    background-size:cover;
    position:relative;
}

/*#bild{ 
    min-height: 100vh;
    width: 10%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url("bild1.jpeg");
    background-position:center;
    background-size:cover;
    position:relative;
}*/


#navibereich li {
  display: inline;            /* Listenelemente nebeneinander */
  list-style-type: none;      /* Aufzählungszeichen entfernen */
}


#navibereich {
  background-color: #89CFF0;  		/* Hintergrundfarbe für die Navigation */ 
  padding: 4px 4;                   /* Innenabstand: oben/unten 4px, li/re 0 */
  border-top: 3px solid #27377c;    /* Rahmenlinie oben */
  border-bottom: 3px solid #27377c; /* Rahmenlinie unten */
  margin: 0;                        /* Keinen Außenabstand */ 
}

#navibereich a {
  color: white;                  /* Schriftfarbe schwarz */ 
  text-decoration: none;         /* Unterstreichung entfernen */ 
  padding: 20px 10px;              /* oben/unten 4px, re/li 8px */
	text-align: center
}

#navibereich a:hover {
	cursor: pointer;
  background-color: #34619c;
}

h1{
	color: beige;
	text-align: center;
	font-size: 70px;
	background-clip:text; 
	color:burlywood;	
}

h3{
	color: beige;
	text-align: center;
	font-size: 25px
}

h4{
	color: beige;
	text-align: center;
	font-size: 25px;
}

.Stromverbrauch{
	flex-basis: 30%;
    width: 30%;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
    padding: 20px 12px;
    background-color: #89CFF0;
    transition: 0.5s;
    box-sizing: border-box;
}

.Gasverbrauch{
		flex-basis: 30%;
    width: 30%;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
    padding: 20px 12px;
    background-color: #89CFF0;
    transition: 0.5s;
    box-sizing: border-box;
}

.Daten{
	text-align: center;
	font-size: 20px;
	color: white;
}

