main {
  height: 90vh;

  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

.vertical-separator {
  width: 2px;
  background-color: #a2a2a2;
  height: 70%;
  position: absolute;
  top: 20%;
  left: 50%;
}

/* Left Side */
.course-description {
  padding: 0 4rem;
  max-width: 90%;
}

.course-description h5 {
  font-weight: 500;
  margin-top: 6rem;
}

.course-description p {
  margin-top: 2rem;
}

.enroll-button {
  margin-top: 4rem;

  border: none;
  background-color: #70c6fc;

  width: 15rem;
  height: 4rem;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  border-radius: 0.5rem;
}

.enroll-button a {
  color: black;
  text-decoration: none;
}

/* Right Side */
.course-details-desktop {
  padding: 0 4rem;
}

.course-details-desktop h6 {
  font-weight: 500;
}

.details {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

/*Hide Mobile Details*/
.course-details-mobile {
  display: none;
}

.prof-etcs-grid-item {
  display: flex;
  gap: 2rem;
  width: 100%;
  align-items: center;
}

/*-------------------------*/

/* Mobile Breakpoint */
@media only screen and (max-width: 1100px) {
  .vertical-separator {
    display: none;
  }

  main {
    display: grid;
    align-items: start;
    grid-template-columns: 1fr;
  }

  .course-description {
    padding: 0 2rem;
    margin-top: 2rem;
  }

  .course-description h5 {
    margin-top: 2rem;
    font-weight: 500;
  }

  .enroll-button {
    margin-top: 2rem;
  }

  .course-details-desktop {
    display: none;
  }

  /*Show Mobile specific details*/
  .course-details-mobile {
    display: flex;
    flex-direction: column;
  }
  .course-details-mobile h6 {
    font-weight: 300;
    font-size: 0.833rem;
    max-height: fit-content;
  }
}
